[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 12.0
[submodule "sale-workflow"]
	path = sale-workflow
	url = git@github.com:OCA/sale-workflow.git
[submodule "product-attribute"]
	path = product-attribute
	url = git@github.com:OCA/product-attribute.git
[submodule "web"]
	path = web
	url = https://github.com/OCA/web
