.o_home_menu_background {
    background: url('/back_background'), linear-gradient(to right bottom, #093da4, #0c70d8);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
